{% extends 'base.html' %}

{% block content %}


  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-primary has-text-weight-bold is-1">
        UpWeekly
      </h1>
      <br>
      <p class="subtitle is-3">
        Do your weekly updates and automate your performance reviews.
      </p>
      <br>
      <p class="subtitle is-5">
      <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a>
      to start using UpWeekly or try the <a href="#">Demo</a> to see how it looks.
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
         <!--
        <ul>
          <li class="is-active"><a href="#">Demo</a></li>
        </ul>
         -->
      </div>
    </nav>
  </div>
{% endblock content %}
